body {
    text-align: center;
}

label[name=gamecard] {
    padding: 100px 200px;
    margin: 100px 100px;
    background-color: #DDDDDD;
    border-color: #888888;
    border-style: solid;
    border-width: 2px;
}