<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Factoid!</title>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/timestamp.css')}}">
    </head>
    <body>
        <p>
            You hear a whisper in the distance...<em>"There should be a game here."</em>
        </p>
        <label id="timestamp"></label>
    </body>
    <script src="{{ url_for('static', filename='scripts/timestamp.js')}}"></script>
</html>