<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hey You!</title>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/timestamp.css')}}">
    </head>
    <body>
    <form method="POST" action="{{ url_for('signupreturn') }}">
        <strong>Username:</strong><input type="text" name="name" placeholder="Username" required="required"><br>
        <strong>Password: </strong><input type="password" name="password" placeholder="Password" required="required"><br>

        <span id="warning">Warning: This website is not secure, and passwords are stored in plaintext. Please do not enter a password used for anything outside of this website.</span>
        
        <input type="submit">
    </form>
        <label id="timestamp"></label>
    </body>
    <script src="{{ url_for('static', filename='scripts/timestamp.js')}}"></script>
</html>