<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Factoid!</title>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/timestamp.css')}}">
    </head>
    <body>
        <h1>This would be <em>{{ name }}'s</em> Profile</h1>
        <h2>But we aren't that far now are we?</h2>
        <label id="timestamp"></label>
    </body>
    <script src="{{ url_for('static', filename='scripts/timestamp.js')}}"></script>
</html>