<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if name %}
        <title>Factoid! Player {{ name }}</title>
        {% else %}
        <title>PLayer not found!</title>
        {% endif %}
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/timestamp.css')}}">
    </head>
    <body>
        {% if name %}
        <h1><em>{{ name }}'s</em> Profile</h1>
        <h2>{{ name }} exists, but there isn't anything here!</h2>
        {% else %}
        <p>That user doesn't exist! :(</p>
        {% endif %}
        <label id="timestamp"></label>
    </body>
    <script src="{{ url_for('static', filename='scripts/timestamp.js')}}"></script>
</html>